# Sherina Eria Hastalina

In [ ]:
import pandas as pd
df_participant = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/dqthon-participants.csv')
df_participant.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09

In [ ]:
df_participant.isnull().sum()

participant_id    0
first_name        0
last_name         0
birth_date        0
address           0
phone_number      0
country           0
institute         0
occupation        0
register_time     0
dtype: int64

In [ ]:
df_participant['address'].head()

0             Gg. Monginsidi No. 08\nMedan, Aceh 80734
1       Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434
2               Jalan Kebonjati No. 0\nAmbon, SS 57739
3      Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156
4    Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...
Name: address, dtype: object

In [ ]:
df_participant['postal_code'] = df_participant['address'].str.extract(r'(\d+)$') #memisahkan alamat dan kode pos
df_participant['postal_code'].head()

0    80734
1    09434
2    57739
3    76156
4    70074
Name: postal_code, dtype: object

In [ ]:
df_participant['city'] = df_participant['address'].str.extract(r'(?<=\n)(\w.+)(?=,)') #memisahkan alamat
df_participant['city'].head()

0           Medan
1      Prabumulih
2           Ambon
3    Lubuklinggau
4          Kediri
Name: city, dtype: object

In [ ]:
df_participant['github_profile'] = 'httpts://github.com/' + df_participant['first_name'].str.lower() + df_participant['last_name'].str.lower()
df_participant['github_profile']

0         httpts://github.com/citranurdiyanti
1            httpts://github.com/arissetiawan
2       httpts://github.com/corneliahandayani
3             httpts://github.com/solehrajasa
4              httpts://github.com/viviastuti
                        ...
4995        httpts://github.com/mitralatupono
4996       httpts://github.com/indahrahmawati
4997        httpts://github.com/irsadnajmudin
4998        httpts://github.com/carlanasyidah
4999       httpts://github.com/darmanamaryadi
Name: github_profile, Length: 5000, dtype: object

In [ ]:
df_participant['phone_number'].head()

0       (0151) 081 2706
1    +62 (036) 461 7027
2          089 833 6695
3    +62 (418) 329-4756
4            0812511835
Name: phone_number, dtype: object

In [ ]:
df_participant['cleaned_phone_number'] = df_participant['phone_number'].str.replace(r'(\+62|62)', '0') #mengganti +62 atau 62 menjadi 0
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'[()-]', '') #mengganti () dan -
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'\s+', '') #mengganti spasi 
df_participant['cleaned_phone_number'].head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

0    01510812706
1    00364617027
2     0898336695
3    04183294756
4     0812511835
Name: cleaned_phone_number, dtype: object

In [ ]:
def func(col):
  abbrev_name = "%s%s"%(col['first_name'][0],col['last_name'][0]) #Singkatan dari Nama Depan dan Nama Belakang dengan mengambil huruf pertama
  country = col['country']
  abbrev_institute = '%s'%(''.join(list(map(lambda word: word[0], col['institute'].split())))) #Singkatan dari value di kolom institute
  return "%s-%s-%s"%(abbrev_name,country,abbrev_institute)

df_participant['team_name'] = df_participant.apply(func, axis =1)
df_participant['team_name'].head()

0       CN-Georgia-UPM
1    AS-Korea Utara-UD
2        CH-Komoro-UHP
3       SR-Eritrea-PTY
4      VA-Aljazair-PHR
Name: team_name, dtype: object

In [ ]:
def func(col):
    first_name_lower = col['first_name'].lower()
    last_name_lower = col['last_name'].lower()
    institute = ''.join(list(map(lambda word: word[0], col['institute'].lower().split()))) #Singkatan dari nama perusahaan dalam lowercase

    if 'Universitas' in col['institute']:
        if len(col['country'].split()) > 1: #Kondisi untuk mengecek apakah jumlah kata dari country lebih dari 1
            country = ''.join(list(map(lambda word: word[0], col['country'].lower().split())))
        else:
            country = col['country'][:3].lower()
        return "%s%s@%s.ac.%s"%(first_name_lower,last_name_lower,institute,country)

    return "%s%s@%s.com"%(first_name_lower,last_name_lower,institute)

df_participant['email'] = df_participant.apply(func, axis=1)
df_participant['email'].head()

0      citranurdiyanti@upm.com
1        arissetiawan@ud.ac.ku
2    corneliahandayani@uhp.com
3          solehrajasa@pty.com
4           viviastuti@phr.com
Name: email, dtype: object

In [ ]:
df_participant.head(10)

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile,cleaned_phone_number,team_name,email
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,httpts://github.com/citranurdiyanti,01510812706,CN-Georgia-UPM,citranurdiyanti@upm.com
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,httpts://github.com/arissetiawan,00364617027,AS-Korea Utara-UD,arissetiawan@ud.ac.ku
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,httpts://github.com/corneliahandayani,0898336695,CH-Komoro-UHP,corneliahandayani@uhp.com
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,httpts://github.com/solehrajasa,04183294756,SR-Eritrea-PTY,solehrajasa@pty.com
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,httpts://github.com/viviastuti,0812511835,VA-Aljazair-PHR,viviastuti@phr.com
5,f1e8749d-6dec-4ede-be25-efb31ce80f99,Bahuraksa,Mangunsong,13 Nov 1997,"Jl. Pacuan Kuda No. 58\nDenpasar, Aceh 00880",+62 (11) 369-7082,Zambia,CV Mardhiyah Haryanto,Business Analyst,1.617634e+09,00880,Denpasar,httpts://github.com/bahuraksamangunsong,0113697082,BM-Zambia-CMH,bahuraksamangunsong@cmh.com
6,707219fa-cb0b-467c-ad32-e99c61603020,Tiara,Maryati,10 Mar 1994,"Gg. Cihampelas No. 4\nSamarinda, KT 48108",(0244) 430 7220,Libya,UD Irawan Wahyuni,Product Analyst,1.617634e+09,48108,Samarinda,httpts://github.com/tiaramaryati,02444307220,TM-Libya-UIW,tiaramaryati@uiw.com
7,bc4e9cc3-f49b-40a2-905c-3e9dcf3af958,Dimaz,Gunarto,16 Feb 2000,"Gg. Sukabumi No. 7\nParepare, Bali 64255",+62 (056) 931-9059,Republik Demokratik Kongo,Perum Purnawati,Data Scientist,1.617634e+09,64255,Parepare,httpts://github.com/dimazgunarto,00569319059,DG-Republik Demokratik Kongo-PP,dimazgunarto@pp.com
8,7ca0a2e8-bab0-42a3-b6aa-ef4df35c7800,Zizi,Puspasari,11 Apr 2002,"Gg. Peta No. 01\nMedan, BE 89056",+62 (11) 826-1289,Gambia,Universitas Bhayangkara Surabaya,Data Analyst,1.617634e+09,89056,Medan,httpts://github.com/zizipuspasari,0118261289,ZP-Gambia-UBS,zizipuspasari@ubs.ac.gam
9,7db879a6-eae5-4cf3-87da-c452df8e99c1,Cecep,Haryanto,15 Jan 1994,"Jalan Cempaka No. 8\nBitung, Kalimantan Barat ...",+62 (86) 156 1327,Palau,PD Pudjiastuti Palastri Tbk,Fullstack Engineer,1.617634e+09,51825,Bitung,httpts://github.com/cecepharyanto,0861561327,CH-Palau-PPPT,cecepharyanto@pppt.com

In [ ]:
df_participant['birth_date'].head()

0    05 Feb 1991
1    11 Jan 1993
2    31 Jul 1993
3    04 Nov 1991
4    22 Jan 2003
Name: birth_date, dtype: object

In [ ]:
df_participant['birth_date'] = pd.to_datetime(df_participant['birth_date'], format='%d %m %Y')
df_participant['birth_date'].head()

0   1991-02-05
1   1993-01-11
2   1993-07-31
3   1991-11-04
4   2003-01-22
Name: birth_date, dtype: datetime64[ns]

In [ ]:
df_participant['register_at'] = pd.to_datetime(df_participant['register_time'], unit='s')
df_participant['register_at'].head()

0   2021-04-05 14:47:26
1   2021-04-05 14:46:58
2   2021-04-05 14:47:15
3   2021-04-05 14:47:14
4   2021-04-05 14:46:50
Name: register_at, dtype: datetime64[ns]

In [ ]:
df_participant.head(10)

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile,cleaned_phone_number,team_name,email,register_at
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,1991-02-05,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,httpts://github.com/citranurdiyanti,01510812706,CN-Georgia-UPM,citranurdiyanti@upm.com,2021-04-05 14:47:26
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,1993-01-11,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,httpts://github.com/arissetiawan,00364617027,AS-Korea Utara-UD,arissetiawan@ud.ac.ku,2021-04-05 14:46:58
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,1993-07-31,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,httpts://github.com/corneliahandayani,0898336695,CH-Komoro-UHP,corneliahandayani@uhp.com,2021-04-05 14:47:15
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,1991-11-04,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,httpts://github.com/solehrajasa,04183294756,SR-Eritrea-PTY,solehrajasa@pty.com,2021-04-05 14:47:14
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,2003-01-22,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,httpts://github.com/viviastuti,0812511835,VA-Aljazair-PHR,viviastuti@phr.com,2021-04-05 14:46:50
5,f1e8749d-6dec-4ede-be25-efb31ce80f99,Bahuraksa,Mangunsong,1997-11-13,"Jl. Pacuan Kuda No. 58\nDenpasar, Aceh 00880",+62 (11) 369-7082,Zambia,CV Mardhiyah Haryanto,Business Analyst,1.617634e+09,00880,Denpasar,httpts://github.com/bahuraksamangunsong,0113697082,BM-Zambia-CMH,bahuraksamangunsong@cmh.com,2021-04-05 14:46:04
6,707219fa-cb0b-467c-ad32-e99c61603020,Tiara,Maryati,1994-03-10,"Gg. Cihampelas No. 4\nSamarinda, KT 48108",(0244) 430 7220,Libya,UD Irawan Wahyuni,Product Analyst,1.617634e+09,48108,Samarinda,httpts://github.com/tiaramaryati,02444307220,TM-Libya-UIW,tiaramaryati@uiw.com,2021-04-05 14:46:22
7,bc4e9cc3-f49b-40a2-905c-3e9dcf3af958,Dimaz,Gunarto,2000-02-16,"Gg. Sukabumi No. 7\nParepare, Bali 64255",+62 (056) 931-9059,Republik Demokratik Kongo,Perum Purnawati,Data Scientist,1.617634e+09,64255,Parepare,httpts://github.com/dimazgunarto,00569319059,DG-Republik Demokratik Kongo-PP,dimazgunarto@pp.com,2021-04-05 14:45:30
8,7ca0a2e8-bab0-42a3-b6aa-ef4df35c7800,Zizi,Puspasari,2002-04-11,"Gg. Peta No. 01\nMedan, BE 89056",+62 (11) 826-1289,Gambia,Universitas Bhayangkara Surabaya,Data Analyst,1.617634e+09,89056,Medan,httpts://github.com/zizipuspasari,0118261289,ZP-Gambia-UBS,zizipuspasari@ubs.ac.gam,2021-04-05 14:45:50
9,7db879a6-eae5-4cf3-87da-c452df8e99c1,Cecep,Haryanto,1994-01-15,"Jalan Cempaka No. 8\nBitung, Kalimantan Barat ...",+62 (86) 156 1327,Palau,PD Pudjiastuti Palastri Tbk,Fullstack Engineer,1.617634e+09,51825,Bitung,httpts://github.com/cecepharyanto,0861561327,CH-Palau-PPPT,cecepharyanto@pppt.com,2021-04-05 14:46:54